body{
    width: 80%;
}

.red_color{
    background-color:red;
}

.blue_color{
    background-color:blue;
}

.anim_div{
    margin: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    animation: anim 3s 1s infinite linear alternate;
}

@keyframes anim{
    0% {
        width: 100px;
        height: 100px;
    }
    50%{
        width: 200px;
        height: 100px;
    }
    100%{
        width: 100px;
        height: 200px;
    }
}